@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&display=swap");

@theme {
  --color-primary: #0f172a;
  --color-secondary: #1e293b;
  --color-accent: #8b5cf6;
  --color-highlight: #06b6d4;

  --font-sans: "Segoe UI", "Inter", sans-serif;
  --font-outfit: "Outfit", sans-serif;

  --animate-blob: blob 7s infinite;

  @keyframes blob {
    0% {
      transform: translate(0px, 0px) scale(1);
    }

    33% {
      transform: translate(30px, -50px) scale(1.1);
    }

    66% {
      transform: translate(-20px, 20px) scale(0.9);
    }

    100% {
      transform: translate(0px, 0px) scale(1);
    }
  }
}

body {
  background-color: var(--color-primary);
  color: #f8fafc;
  font-family: var(--font-sans);
  overflow-x: hidden;
}

.font-outfit {
  font-family: var(--font-outfit);
}
